<%- include('partials/header') -%>

<div class="container">
  <h3>The cup begins!!</h3>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5>Who will hoist the cup in all it's glory at the end of what surely will be an epic adventure?</h5>
      <h5>Only the makers of the stars and galaxies may know. Soon the glory will all be revealed!</h5>
    </div>
  </div>
</div>

<div class="w3-bar">
  <div class="w3-bar-item w3-right">
    <a href="/begin_tournament/<%=cup._id%>">
      <div class="w3-btn w3-ripple w3-border">
        begin
      </div>
    </a>
  </div>
</div>



<%- include('partials/footer') -%>
